@model IEnumerable<Kahia2.Models.Patient>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    <a asp-action="Create">Ajouter Un Patient</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPatient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poids)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SituationMatrimoniale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupeSanguin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taille)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPatient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poids)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SituationMatrimoniale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupeSanguin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taille)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexe)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdPatient }) |
                @Html.ActionLink("Details", "Details", new { id=item.IdPatient }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.IdPatient  })
            </td>
        </tr>
}
    </tbody>
</table>
